<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983836622625-ou051gbop5377okv2et9aho1hmsuei9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983836622625-ou051gbop5377okv2et9aho1hmsuei9u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>983836622625-9hkvn9adiojhf9esto792gdtvd17vpbi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAYRXZ4GG_bxJOjwo5T6iRLlQDRYqLwY0</string>
	<key>GCM_SENDER_ID</key>
	<string>983836622625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginsin</string>
	<key>PROJECT_ID</key>
	<string>assignment-4878b</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-4878b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983836622625:ios:688958e46e02c20db44860</string>
	<key>DATABASE_URL</key>
	<string>https://assignment-4878b-default-rtdb.firebaseio.com</string>
</dict>
</plist>